body {
    display: grid;
    grid-template-columns: 200px 1fr;
    /* TODO: change the width of the 1st row if necessary */
    grid-template-rows: 150px 1fr;
}

.sidebar {
    background-color: #0ea5e9;
    grid-row: 1 / -1;
}

.header {
}

.main-content {
    background-color: #e2e8f0;
}