body {
    min-height: 100vh;

    font-family: 'Roboto';

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 150px 1fr;
}

a {
    text-decoration: none;
    color: black;
}

/* Sidebar */

.sidebar {
    grid-row: 1 / -1;

    padding: 10px 10px 10px 0;

    background-color: #0ea5e9;

    display: grid;
    grid-template-columns: 75px auto;
    grid-template-rows: 40px repeat(11, 35px);
    align-items: center;
}

.sidebar * {
    color: white;
    font-weight: 700;
}

.sidebar>:nth-child(odd) {
    justify-self: center;
}

/* Header */

.header {
    padding: 10px 20px;

    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 10px;
}

.header * {
    font-weight: 700;
}

#search {
    display: flex;
    align-items: center;
}

#search input {
    --height: 20px;

    flex: 1;

    border: none;
    /* TODO: try to simplify into one compound statement */
    border-top-left-radius: calc(var(--height)/2) 50%;
    border-top-right-radius: calc(var(--height)/2) 50%;
    border-bottom-left-radius: calc(var(--height)/2) 50%;
    border-bottom-right-radius: calc(var(--height)/2) 50%;

    height: var(--height);
    padding: 0 5px;

    background-color: #e2e8f0;
}

#links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.profile-pic {
    width: 40px;
    height: 40px;
}

#header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

#header-buttons button {
    --height: 30px;

    border: none;
    /* TODO: try to simplify into one compound statement */
    border-top-left-radius: calc(var(--height)/2) 50%;
    border-top-right-radius: calc(var(--height)/2) 50%;
    border-bottom-left-radius: calc(var(--height)/2) 50%;
    border-bottom-right-radius: calc(var(--height)/2) 50%;

    height: var(--height);
    padding: 0 20px;

    background-color: #0ea5e9;
    color: white;
}

#welcome {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

#welcome>div:nth-of-type(1) {
    font-size: 0.8rem;
}

#welcome>div:nth-of-type(2) {
    font-size: 1.1rem;
}

#welcome .profile-pic {
    grid-row: 1 / -1;

    width: 50px;
    height: 50px;
}

/* Main content */

.main-content {
    padding: 10px;

    background-color: #e2e8f0;

    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 40px 1fr 40px 1fr 40px;
    column-gap: 10px;
    row-gap: 5px;
}

.main-content>:nth-child(1) {
    align-self: flex-end;
}

.main-content>:nth-child(2) {
    align-self: flex-end;
}

.projects-list {
    grid-row: 2 / -2;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 10px;
}

.project {
    border-radius: 15px;
    border-left: solid 4px orange;

    padding: 10px;

    background-color: white;

    display: flex;
    flex-direction: column;
}

.project .buttons {
    align-self: flex-end;

    margin-top: auto;
}

.project button {
    border: none;
    background: none;
}

.announcements-list {
    border-radius: 15px;

    padding: 10px;

    background-color: white;

    display: flex;
    flex-direction: column;
}

.announcements-list > :nth-child(even) {
    margin: 20px 0 20px 0;
    height: 2px;

    background-color: grey;
}

.announcements-list > div > :nth-child(2) {
    font-size: 0.8rem;
}

.main-content>:nth-child(5) {
    align-self: flex-end;
}

.trending-list {
    border-radius: 15px;

    padding: 10px;

    background-color: white;
    font-size: 0.8rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.trending-list a {
    display: flex;
    gap: 10px;
}